
.icon-desktop:before { content: '\e800'; } /* '' */
.icon-mail:before { content: '\e801'; } /* '' */
.icon-link:before { content: '\e802'; } /* '' */
.icon-link-ext:before { content: '\f08e'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-linkedin:before { content: '\f0e1'; } /* '' */
.icon-lastfm:before { content: '\f202'; } /* '' */
.icon-lastfm-squared:before { content: '\f203'; } /* '' */
.icon-gitlab:before { content: '\f296'; } /* '' */
.icon-linkedin-squared:before { content: '\f30c'; } /* '' */
